/* scale the main splash image MOBILE */
/* @keyframes scale-main-image {
  0% {
    background-size: auto 100%;
  }
  70% {
    background-size: auto 110%;
  }
  100% {
    background-size: auto 100%;
  }
} */

/* @keyframes scale-welcome-image {
  0% {
    background-size: auto 40%;
  }
  70% {
    background-size: auto 50%;
  }
  100% {
    background-size: auto 40%;
  }
} */

/* @keyframes scale-services-image {
  0% {
    background-size: auto 30%;
  }
  70% {
    background-size: auto 30%;
  }
  100% {
    background-size: auto 20%;
  }
} */

.home-section-bg-img {
  background-image: url("../../assets/images/mobile/homePage/splash-home-area.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 115%;
  /* animation: scale-main-image 30s ease-in-out infinite; */
}

.home-section-welcome-bg-img {
  background-image: url("../../assets/images/mobile/homePage/splash-home-welcome.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 35%;
  /* animation: scale-welcome-image 30s ease-in-out infinite; */
}

.home-section-services-bg-img {
  background-image: url("../../assets/images/mobile/homePage/splash-home-services.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 20%;
  /* animation: scale-services-image 30s ease-in-out infinite; */
}

/* TABLET */
@media screen and (min-width: 768px) {
  /* @keyframes scale-main-image {
    0% {
      background-size: auto 100%;
    }
    70% {
      background-size: auto 110%;
    }
    100% {
      background-size: auto 100%;
    }
  } */

  /* @keyframes scale-welcome-image {
    0% {
      background-size: 20% 80%;
    }
    70% {
      background-size: 30% 80%;
    }
    100% {
      background-size: 20% 80%;
    }
  } */

  /* @keyframes scale-services-image {
    0% {
      background-size: 15% 70%;
    }
    70% {
      background-size: 25% 70%;
    }
    100% {
      background-size: 15% 70%;
    }
  } */

  .home-section-bg-img {
    background-image: url("../../assets/images/tablet/homePage/splash-home-area.png");
    background-size: 125%;
    background-position: right center;
  }

  .home-section-welcome-bg-img {
    background-image: url("../../assets/images/tablet/homePage/splash-home-welcome.png");
    background-position: right center;
  }

  .home-section-services-bg-img {
    background-image: url("../../assets/images/tablet/homePage/splash-home-services.png");
    background-position: left center;
  }
}

/* large tablet */
@media screen and (min-width: 1024px) and (min-height: 1024px) {
  /* @keyframes scale-main-image {
    0% {
      background-size: 110% 110%;
    }
    25% {
      background-size: 110% 120%;
    }
    50% {
      background-size: 130% 120%;
    }
    75% {
      background-size: 110% 120%;
    }
    100% {
      background-size: 110% 110%;
    }
  } */

  /* @keyframes scale-welcome-image {
    0% {
      background-size: 25% 80%;
    }
    30% {
      background-size: 25% 80%;
    }
    100% {
      background-size: 25% 80%;
    }
  } */

  /* @keyframes scale-services-image {
    0% {
      background-size: 30% 80%;
    }
    30% {
      background-size: 40% 80%;
    }
    100% {
      background-size: 30% 80%;
    }
  } */

  .home-section-bg-img {
    background-image: url("../../assets/images/desktop/homePage/splash-home-area.png");
    background-size: 105%;
    background-position: center;
  }
  .home-section-welcome-bg-img {
    background-image: url("../../assets/images/desktop/homePage/splash-home-welcome.png");
    background-position: right;
    background-size: 40%;
  }

  .home-section-services-bg-img {
    background-image: url("../../assets/images/desktop/homePage/splash-home-services.png");
    background-size: 40%;
    background-position: left center;
  }
}

/* desktop */
@media screen and (min-width: 1024px) and (max-height: 1023px) {
  .home-section-bg-img {
    background-image: url("../../assets/images/desktop/homePage/splash-home-area.png");
    background-size: 105%;
    background-position: bottom;
  }
  .home-section-welcome-bg-img {
    background-image: url("../../assets/images/desktop/homePage/splash-home-welcome.png");
    background-position: right;
    background-size: 40%;
  }

  .home-section-services-bg-img {
    background-image: url("../../assets/images/desktop/homePage/splash-home-services.png");
    background-size: 40%;
    background-position: left center;
  }
}
