.about-me-top-section-bg-img {
  background-image: url("../../assets/images/mobile/homePage/splash-home-services.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 20%;
}

.about-me-middle-section-bg-img {
  background-image: url("../../assets/images/mobile/homePage/splash-home-welcome.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 25%;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .about-me-top-section-bg-img {
    background-image: url("../../assets/images/tablet/homePage/splash-home-services.png");
    background-position: left top;
    background-size: 12%;
  }

  .about-me-middle-section-bg-img {
    background-image: url("../../assets/images/tablet/homePage/splash-home-welcome.png");
    background-position: right center;
    background-size: 25%;
  }
}

/* desktop */
@media screen and (min-width: 1024px) and (max-height: 1023px) {
  .about-me-middle-section-bg-img {
    background-size: 20%;
  }
}

/* large desktop */
@media screen and (min-width: 1240px) and (max-height: 1023px) {
  .about-me-middle-section-bg-img {
    background-size: 15%;
  }
}
