.footer-bg-img {
  background-image: url("../../assets/images/mobile/homePage/splash-home-footer.png");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .footer-bg-img {
    background-image: url("../../assets/images/tablet/homePage/splash-home-footer.png");
  }
}

/* MONITORS */
@media screen and (min-width: 1024px) {
  .footer-bg-img {
    background-image: url("../../assets/images/desktop/homePage/splash-home-footer.png");
  }
}
